.product-item{
border: 1px solid rgb(195, 224, 208);
    padding: 20px ;
    height: 300px;
  margin-bottom: 2rem;
  border-radius: .9rem;
}
.product-item:hover{
box-shadow: 3px 2px 5px rgb(199, 223, 209);
}


.flex{
    display: flex;
    flex-wrap: wrap;
}

#search-input{
 height: 3rem;
 width: 27rem;
 margin-top: 5rem;
 margin-bottom: 1.2rem;
 margin-left: 35%;
 border: 4px solid rgb(165, 250, 232);
border-radius: 3rem;
text-align: center;
}

.chomu{
  align-items: center;
  margin-left: 33px;
}
