.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: rgb(160, 239, 239);
  padding: 15px;
  position: fixed;
  max-width: 100%;
  width: 100%;
  height: 30px;
}
.carty {
  margin-left: -80px;
}
